
/* src\components\Properties\PropertyOfTheDay.css */

.PropertyOfTheDayBg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Carousel {
  max-width: 600px;
  margin-bottom: 20px;
}

.PropertyImage {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.DetailsAndForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PropertyDetails {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.DetailPropertyNameSize {
  font-size: 1.2rem;
}

.PropertyDetailsTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ContactForm {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ContactFormTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* start populating the page by adding a search bar with a drop down options of all the things a.. scratch that go for a minimalist approach for now as this is a fresh realestate company.
but still make it viable enouhg to where people feel as if this is a polished website */