.PropertyListingOfTheDayBg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(193, 218, 226);
  text-align: center;
  height: 100vh;
}

.property-card-container {
  width: 20%; 
  margin-bottom: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .property-card-container {
    width: 100%; 
  }
}

/* start populating the page by adding a search bar with a drop down options of all the things a.. scratch that go for a minimalist approach for now as this is a fresh realestate company.
but still make it viable enouhg to where people feel as if this is a polished website */