.PropertyListingOfTheDayBg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(193, 218, 226);
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;

}

.property-card-container {
  width: 20%; 
  margin-bottom: 20px;
  box-sizing: border-box;
}
.animated-search-bar {
  width: 210px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: width .3s ease-in-out;

}

.animated-search-bar:focus {
  width: 300px; 
  outline: none; 
}

@media (max-width: 768px) {
  .property-card-container {
    width: 100%; 
  }
}

/* start populating the page by adding a search bar with a drop down options of all the things a.. scratch that go for a minimalist approach for now as this is a fresh realestate company.
but still make it viable enouhg to where people feel as if this is a polished website */